html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mappedin-pin-marker {
  transition: opacity 150ms linear, transform 0ms linear;
  position: absolute;
  will-change: transform, opacity;
  border-radius: 50%; }

.mappedin-pin-marker-text {
  text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff;
  font-family: 'InterUI-Regular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  min-height: 15px;
  font-weight: 500;
  position: absolute;
  pointer-events: none;
  padding: 1px;
  will-change: transform; }

.mappedin-smart-label-icon__container {
  position: absolute; }
  .mappedin-smart-label-icon__container > svg {
    position: absolute;
    top: 0px;
    left: 0px; }

.mappedin__smart-collision-engine__container {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  pointer-events: none; }

.mappedin__smart-collision-engine-debug__container {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  pointer-events: none; }

.mappedin__smarter-label {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 200px;
  height: 200px;
  will-change: transform;
  transition: opacity 300ms linear; }

.mappedin__smarter-label__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px; }
  .mappedin__smarter-label__icon > svg {
    position: absolute;
    top: -50%;
    left: -50%; }

.mappedin__smarter-label__text_holder {
  font-family: 'InterUI-Regular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: 500;
  position: absolute;
  pointer-events: none;
  word-break: keep-all; }

.mappedin__smarter-label__text_legacy {
  text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff; }

.mappedin__smarter-label__text_back {
  -webkit-text-stroke: 4px white;
  color: white; }

.mappedin__smarter-label__text_front {
  color: black;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.mappedin-connection-marker {
  background-size: contain;
  background-position: 50%;
  background: #7ed321;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  flex-shrink: 0;
  z-index: 1; }

.mappedin-map-connection-layer-container {
  pointer-events: none;
  font-family: sans-serif;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px;
  height: 1px; }

.mappedin-map-connection-labels {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap; }

.mappedin-map-connection-layer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #969696;
  flex-shrink: 0;
  transform: rotateX(65.89015deg) rotateZ(-45.26367deg); }

.mappedin-map-connection-bubble {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.9);
  color: black; }

.mappedin-map-connection-label {
  color: black;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-transform: uppercase; }

.mappedin-destination-icon {
  position: relative; }
  .mappedin-destination-icon > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50%; }
    .mappedin-destination-icon > div:last-child {
      transform: scale(0.8); }

.mappedin-departure-icon {
  background: white;
  padding: 2px;
  border-radius: 100%; }

.mappedin-tooltip__wrapper {
  display: flex;
  width: 1px;
  height: 1px;
  align-items: center;
  justify-content: center;
  z-index: 1; }

.mappedin-tooltip {
  top: 0;
  transition: transform 300ms linear;
  position: absolute;
  font-weight: bold;
  color: black;
  position: absolute;
  z-index: 1;
  transition: opacity 300ms;
  display: flex;
  flex-direction: row;
  will-change: opacity;
  justify-content: center; }
  .mappedin-tooltip > div {
    flex-shrink: 0;
    max-width: 500px;
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2); }
  .mappedin-tooltip:before {
    content: '';
    width: 0;
    height: 0;
    top: calc(50% - 10px);
    left: -10px;
    position: absolute;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent; }
  .mappedin-tooltip.tooltip--anchor-top {
    left: 0px;
    top: 0px; }
    .mappedin-tooltip.tooltip--anchor-top:before {
      left: calc(50% - 10px);
      top: calc(100% - 5px);
      right: auto;
      border-bottom: 10px solid transparent;
      border-top: 10px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent; }
  .mappedin-tooltip.tooltip--anchor-bottom {
    left: 0px;
    top: 0px; }
    .mappedin-tooltip.tooltip--anchor-bottom:before {
      left: calc(50% - 10px);
      top: -15px;
      right: auto;
      border-bottom: 10px solid white;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent; }
  .mappedin-tooltip.tooltip--anchor-right {
    justify-content: flex-start;
    left: 0px;
    top: 0px; }
    .mappedin-tooltip.tooltip--anchor-right:before {
      left: -5px;
      right: auto;
      border-right: 10px solid white; }
  .mappedin-tooltip.tooltip--anchor-left {
    left: 0px;
    top: 0px; }
    .mappedin-tooltip.tooltip--anchor-left:before {
      left: auto;
      right: -5px;
      border-left: 10px solid white; }
  .mappedin-tooltip.tooltip--anchor-top-left {
    left: 7px;
    top: 7px; }
    .mappedin-tooltip.tooltip--anchor-top-left:before {
      left: auto;
      right: -7px;
      top: calc(100% - 13px);
      border-bottom: 10px solid transparent;
      border-top: 10px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      transform: rotate(-45deg); }
  .mappedin-tooltip.tooltip--anchor-top-right {
    left: -6px;
    top: 7px; }
    .mappedin-tooltip.tooltip--anchor-top-right:before {
      left: -7px;
      right: auto;
      top: calc(100% - 13px);
      border-bottom: 10px solid transparent;
      border-top: 10px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      transform: rotate(45deg); }
  .mappedin-tooltip.tooltip--anchor-bottom-left {
    left: 7px;
    top: -6px; }
    .mappedin-tooltip.tooltip--anchor-bottom-left:before {
      left: auto;
      right: -7px;
      top: -7px;
      border-bottom: 10px solid white;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      transform: rotate(45deg); }
  .mappedin-tooltip.tooltip--anchor-bottom-right {
    left: -6px;
    top: -6px; }
    .mappedin-tooltip.tooltip--anchor-bottom-right:before {
      left: -7px;
      right: auto;
      top: -7px;
      border-bottom: 10px solid white;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      transform: rotate(-45deg); }
  .mappedin-tooltip.tooltip--visible {
    opacity: 1; }

